.wrapper{
  width: 80vw;

  .calendar-header-main{
    width: inherit;
    z-index: 2;
    thead{
      color: #353535;
      th{
        position:  sticky;
        top: 0;
      }
      .header{

        .calendar-header{
          width: 3rem;
          height: 5vh;
          ;
        }
        th{

          background-color: white;
          border-color: transparent;
          width: 10vw;
          .table-header{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
            flex-basis: 0;
            border: 0;
            height: 7vh;
            .table-header-day-week{
              font-size: 0.5rem;
            }
            .table-header-day-month{
              cursor: pointer;
              font-size: 1.4rem;
              font-weight: 400;
              .day-month-style{
                width: 2.5rem;
                height: 2.5rem;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
              }
              .day-month-style:hover{
                background-color: rgba(173, 173, 173, 0.31);
              }
              .day-month-style-active{
                background-color: rgba(0, 0, 246, 0.63);
                color: white;
              }
            }
          }
        }
      }
      .content{
        background-color:white;
        border-bottom: 1px solid #353535;
        height: 2vh;
        .content-hours-empty{
          width: 1.5rem;
          border-bottom: 1px solid #353535;
          border-right: 1px solid #353535;
        }
        .content-hours{
          width: 1.5rem;
          border-bottom: 0px solid #353535;
          border-right: 1px solid #353535;
          font-size: 0.5rem;
          position: relative;
          span{
            position: absolute;
            bottom: 0.3rem;
            width: 1.5rem;
          }
        }
        .content-hours-data{
          border-bottom: 1px solid #353535;
          border-right: 1px solid #353535;
        }
      }
    }
    tbody{
      tr{

        td{
          border: 1px solid black;
        }
      }
    }






  }


}
